.book{
    background: url(../image/book-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;

    form{
        margin: 0 auto 2rem auto;
        max-width: 60rem;
        border-radius: $borderradiushover;
        padding: 3rem;
        border: $border;

        .box{
            width: 100%;
            padding: 1rem 1.2rem;
            border-radius: .5rem;
            font-size: 1.6rem;
            background: none;
            text-transform: none;
            color: $maincolor;
            border: $border;
            margin: .7rem 0;

            &:focus{
                border: $borderhover;
            }
        }

        textarea{
            height: 15rem;
            resize: none;
        }
    }
}