.footer{
    .box-container{
        @include grid(23rem);

        h3{
            font-size: 2.5rem;
            padding: 1rem 0;
            color: $maincolor;
        }

        a{
            display: block;
            font-size: 1.5rem;
            padding: 1rem 0;
            color: $maincolor;
            width: max-content;
            i{
                padding-right: 0.5rem;
            }
            
            &:hover i{
                padding-right: 2rem;
            }
        }
    }

    .credit{
        font-size: 2rem;
        text-align: center;
        padding: 2rem 1rem;
        margin-top: 1rem;
        color: $maincolor;

        span{
            border-bottom: $borderhover;
        }
    }
}