.menu{
    background: url(../image/menu-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        .box{
            flex: 1 1 42rem;
            padding: 2rem;
            border: $border;
            border-radius: $borderradius;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            margin-left: 6rem;

            &:hover{
                border: $borderhover;
                border-radius: $borderradiushover;
            }

            img{
                height: 8rem;
                margin-left: -6rem;
            }

            h3{
                font-size: 2.2rem;
                color: $maincolor;
                line-height: 1.8;
            }
            p{
                font-size: 1.6rem;
                padding: 1rem 0;
                line-height: 1.8;
                color: $maincolor;
            }

            span{
                font-size: 2rem;
                color: $maincolor;
                line-height: 1.8;
            }
        }
    }
}